@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bem Vindo ao Biz CarMaker</h1>
    <p class="lead">Aqui você encontra os melhores carros, das melhores montadoras!</p>
    <p><a class="btn btn-primary btn-lg" href='@Url.Action("Index", "Montadora")'>Montadoras &raquo;</a>
    <a class="btn btn-primary btn-lg" href='@Url.Action("Index", "Carro")'>Carros &raquo;</a></p>
</div>
